/************************************************

Stylesheet: Main Stylesheet

*************************************************/


// PAGE STRUCTURE
// -------------------------------------------------------------------------------------------------------------------

// Sticky Footer
html {height: 100%;}

.bcchf_donate, .bcchf_snowball {display: flex; flex-direction: column; height: 100%;}

.bcchf_donate > header,
.bcchf_snowball > header,
#footer {flex: none;}

.bcchf_donate {background: $white url(../images/snowtheme/snow-bg.jpg) repeat-y center/100%;}

main.site-content,
.bcchf_donate > .main,
.bcchf_snowball > .main {flex: 1 0 auto;}




// TYPOGRAPHY
// -------------------------------------------------------------------------------------------------------------------


a, a:visited {}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	a {text-decoration: none;}
}

h1, .h1 {color: $primary-color; text-transform: uppercase; line-height: .9 !important;}

h2, .h2 {color: $primary-color; text-transform: uppercase; font-weight: 600;}

h3, .h3 {font-family: $body-font-family;}

h4, .h4 {}

h5, .h5 {}

h6, .h6 {}

.bcchf_btn,
.button {
    @include button(false, $button-background, $button-background-hover, $button-color, $button-fill);
    width: rem-calc(180); border-width: rem-calc(3); font-weight: 700; 
    + .button {margin-left: rem-calc(7);}
}

.bcchf_donate button.selected,
.bcchf_donate .bcchf_btn.selected,
.bcchf_donate input[type="radio"]:checked + .bcchf_btn {
  background-color: $primary-color;
  color: $white;
}

.bcchf_next {
    @include button(false, $secondary-color, darken($secondary-color,10%), $white, solid);
    font-weight: 700; padding: 0.85em 2.25em; border-width: rem-calc(3);
    &:hover {background-color: transparent; color: $secondary-color; border-color: $secondary-color;}
}
.bcchf_return {font-style: italic; color: $black; font-size: rem-calc(16); 
    &:before {content: "<"; display: inline; padding-right: rem-calc(5);}
}

button:focus {outline:0;}





// Forms
// -------------------------------------------------------------------------------------------------------------------

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {margin-bottom: .4em;}


.bcchf_donate .main input,
.bcchf_donate .main textarea {background-color: $light-gray;}


// Radio
input[type=radio] {display: none;
    + label {margin: 0;
        + input + label {margin-left: rem-calc(7);}
    }
}

textarea + p.align_right {color: $medium-gray; margin-top: rem-calc(-8);}

.bcchf_stack_label {font-weight: $global-weight-bold; margin-top: rem-calc(15);}
.bcchf_message.error {margin: rem-calc(-10 0 10);}

.bcchf_radio {
    &:first-of-type {margin-left: 8px;}
    &:last-of-type {
        .bcchf_radio_bottom p {color: $medium-gray !important;}
    }
}
.bcchf_radio_top {}
.bcchf_check {background: $white; border: #{rem-calc(3)} solid $primary-color; border-radius: 50%; width: rem-calc(56); height: rem-calc(56);}
.bcchf_radio_bottom {background-color: $white;
    p, input[type=text] {margin-bottom: 0;}
}

// Amount checked state
input[type="radio"]:checked + .bcchf_radio_label {
    .bcchf_radio_top {}
    .bcchf_check {background: $primary-color url(../images/snowtheme/check.svg) no-repeat center;}
    .bcchf_radio_bottom {}
}

// Checkbox
.bcchf_checkbox {width: rem-calc(56); height: rem-calc(56); }

input[type="checkbox"] {display: none;
    + label {border-radius: 50%; width: rem-calc(56); height: rem-calc(56); border: #{rem-calc(3)} solid $primary-color; }
}

input[type="checkbox"]:checked + label {
  background: $primary-color url(../images/snowtheme/check.svg) no-repeat center;
}

.bcchf_checkbox_container {
    > P {max-width: calc(100% - #{rem-calc(80)});}
}

// Select

.bcchf_dropdown {margin-bottom: .4em;
    select {margin-bottom: 0;}
    ul {background-color: $light-gray; border-radius: $global-radius;}
}
.bcchf_dropdown.open ul {background: linear-gradient($medium-gray 0, lighten($medium-gray,7%) 6%, lighten($medium-gray,13%) 50%, lighten($medium-gray,7%) 94%, $medium-gray 100%);}

.bcchf_dropdown_arrow {position: absolute; right: 0; top: 18px; z-index: 3; background-image: url("../images/snowtheme/select-dropdown-arrow.svg"); background-repeat: no-repeat; border: none; height: 8px; padding-left: 16px;}




// Header
// -------------------------------------------------------------------------------------------------------------------


.bcchf_donate > header,
.bcchf_snowball > header {background: transparent; height: auto; margin-bottom: rem-calc(68);
    a {position: relative;}
    img {width: rem-calc(149); height: rem-calc(141); border-bottom-left-radius: rem-calc(5); border-bottom-right-radius: rem-calc(5); box-shadow: #{rem-calc(0 0 7)} rgba(0,0,0,.15);}

    &.site-header {margin-bottom: rem-calc(30);
        @include breakpoint(medium) {margin-bottom: rem-calc(68);}
        @include breakpoint(small down) {
            .row {width: 94%;}
            img {width: rem-calc(108); height: rem-calc(102);}
        }
    }
}

.bcchf_snowball > header {position: fixed; z-index: 10; top: 0; left: 0; width: 100%;}





// Main 
// -------------------------------------------------------------------------------------------------------------------


// Landing
// ------

.site-header {
    // @include breakpoint(small down) {opacity: 0; transform: translate(0,#{rem-calc(-400)}); transition: transform .45s .3s ease-in-out, opacity .3s ease-in-out; 
    //     body.ready & {transform: translate(0,0); opacity: 1; transition: transform .45s .3s ease-in-out, opacity .3s ease-in-out; 
    //         &.hidden {transform: translate(0,#{rem-calc(-400)}); opacity: 0; transition: transform .3s ease-in-out, opacity .45s .3s ease-in-out; }
    //     }
    // }

    img {position: relative; z-index: 2;}

    #counter {opacity: 0; transform: translate(0,#{rem-calc(-400)}); transition: transform .45s .3s ease-in-out, opacity .3s ease-in-out; 
        body.ready & {transform: translate(0,0); opacity: 1; transition: transform .45s .3s ease-in-out, opacity .3s ease-in-out;}
    }
    body.ready &.hidden #counter {transform: translate(0,#{rem-calc(-400)}); opacity: 0; transition: transform .3s ease-in-out, opacity .45s .3s ease-in-out;}
} 


.spinner {position: fixed; bottom: 5vh; left: calc(50% - #{rem-calc(36)}); width: rem-calc(72); text-align: center; pointer-events: none; transition: opacity .3s .6s ease-in-out, transform .3s .6s ease-in-out;
    > div {width: rem-calc(18); height: rem-calc(18); margin: rem-calc(3); background-color: $primary-color; border-radius: 100%; display: inline-block; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
    .bounce1 {animation-delay: -0.32s;}
    .bounce2 {animation-delay: -0.16s;}
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0);
    } 40% { 
        transform: scale(1.0);
    }
}
@keyframes cta-pulse-animation {
  0%, 100% {
    bottom: 5vh;
  }
  33% {
    bottom: 5.5vh;
  }
}


$themeName: "odometer-theme-default";
@include spinning-odometer($themeName);

#counter {margin-top: rem-calc(24); pointer-events: none; 
    @include breakpoint(medium) {text-align: right; margin-top: rem-calc(40);}

    h4 {font-family: $body-font-family; text-transform: uppercase; color: $primary-color;
        @include breakpoint(small down) {font-size: rem-calc(13);}
    }
    
    .throwCount {font-size: rem-calc(26); font-family: $header-font-family; font-weight: $global-weight-bold; color: $primary-color; 

        .odometer .odometer-inside .odometer-digit:first-child,
        .odometer .odometer-inside .odometer-formatting-mark:nth-child(2) {display: none !important;}

        .odometer-digit {line-height: rem-calc(43); margin: rem-calc(1); background: linear-gradient(lighten($medium-gray,10%) 0, $white 40%, $white 60%, lighten($medium-gray,10%) 100%); box-shadow: #{rem-calc(0 0 10)} rgba(0,0,0,.2);}
        .odometer-digit-spacer {width: rem-calc(33);}
        .odometer-digit-inner {left: .3em;}
        .odometer-value {margin-top: .1em;}
        .odometer-formatting-mark {display: none;}

        @include breakpoint(medium) {font-size: rem-calc(38);
            .odometer-digit {line-height: rem-calc(62); margin: rem-calc(3);}
            .odometer-digit-spacer {width: rem-calc(48);}
        }
    }
}


.bcchf_snowball_page {position: relative; left: 0; top: 0; width: 100%; height: 100vh; overflow: hidden;

    .row {
        @include breakpoint(small down) {width: 94%;}
    }
    #slides-fg,
    #slides {position: fixed; left: 0; top: 0; width: 100%; height: 100vh;
        div {position: absolute; left: 0; top: 0; width: 100%; height: 100%; visibility: hidden; background: transparent no-repeat center/cover;
            &:first-child {visibility: visible;}
        }
        @include breakpoint(small down) {left: -25%; width: 125%; top: -15vh; height: 115vh;}
    }
    #slides-fg {z-index: 2;}

    #screen_h {position: fixed; left: 0; top: 0; width: 100%; height: 500vh; mix-blend-mode: multiply;}

    .screen {position: absolute; left: 0; top: 0; width: 100%; height: 100vh; 
        &#screen-2 {top: 100vh;}
        &#screen-3 {top: 200vh;}
        &#screen-4 {top: 300vh;}
        &#screen-5 {top: 400vh;}

        .row {height: calc(100vh - #{rem-calc(170)}); padding-top: rem-calc(230); font-size: 6vh; 
            small {color: inherit !important; font-size: .5em;}
            h1 {font-size: 2em; line-height: .82 !important;}
            h2 {font-size: 1.5em; font-weight: 700; line-height: .85 !important;
                small {font-weight: 600;}
            }
            p {font-family: $header-font-family; font-size: .75em; line-height: 1.15 !important; letter-spacing: -.03em; color: $primary-color; font-weight: 600;
                &:last-child {margin-bottom: 0;}
            }
            .button {width: auto; font-family: $body-font-family; letter-spacing: 0; margin-bottom: 0; 
                @include button(false, $secondary-color, darken($secondary-color,8%), $white, solid);
                padding-left: 2em; padding-right: 2em; border-width: rem-calc(3);
                &:hover {background-color: transparent; border-color: $secondary-color; color: $secondary-color;}
            }

            @include breakpoint(small down) {height: calc(100vh - #{rem-calc(80)}); padding-top: rem-calc(130);  font-size: 6.8vw;
                p {font-size: .9em;}
            }
        }
    }

    .screen-trigger {position: absolute; right: 0; width: 1px; height: 1px; 
        &#screen-1-trigger-out {top: 120vh;}
        &#screen-2-trigger-out {top: 180vh;}
        &#screen-3-trigger-out {top: 240vh;}
        &#screen-4-trigger-out {top: 300vh;}
    }

    #screen-nav {position: fixed; top: calc(50% - #{rem-calc(75)}); right: rem-calc(-45); transition: right .9s .3s ease-in-out;
        a {display: block; width: rem-calc(15); height: rem-calc(15); border-radius: 50%; margin-bottom: rem-calc(15); background-color: $white;
            &.selected {background-color: rgba($dark-gray,.8);}
        }
        @include breakpoint(small down) {display: none;}
    }

    #cta {pointer-events: none; opacity: 0; transform: translate(0,20vh); transition: opacity .3s 1.6s ease-in-out, transform .6s 1.7s cubic-bezier(0.175, 0.885, 0.320, 1.275), bottom .2s ease-in-out; position: fixed; bottom: 5vh; left: calc(50% - #{rem-calc(36)}); width: rem-calc(72); height: rem-calc(72);
        svg {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
        @include breakpoint(small down) {bottom: 2.5vh;
            .cta-circle {visibility: hidden;}
        }
    }

    &.preloaded {height: 400vh;
        .spinner {opacity: 0; transform: scale(1.1);}

        #screen-nav {right: rem-calc(45);}

        #cta {transform: translate(0,0); opacity: 1; 
            @include breakpoint(medium) {pointer-events: auto;
                &:hover {cursor: pointer; animation: cta-pulse-animation .5s 1 ease-in-out;}
            }
            &.done {bottom: -100vh; pointer-events: none;}
        }
    }
}






// Donation Page
// ------

.bcchf_donate > .main {background-color: $white; border-radius: rem-calc(7); box-shadow: #{rem-calc(0 0 7)} rgba(0,0,0,.15); padding: rem-calc(72); margin-bottom: rem-calc(68);}

.panel {background-color: $white; border-radius: rem-calc(7); box-shadow: #{rem-calc(0 0 7)} rgba(0,0,0,.15); padding: rem-calc(17); margin-bottom: rem-calc(30);
    @include breakpoint(medium) {padding: rem-calc(72); margin-bottom: rem-calc(45);}
    @include breakpoint(small down) {font-size: 80%;}

    p:last-child {margin-bottom: 0;}

    &:last-child {margin-bottom: rem-calc(45);
        @include breakpoint(medium) {margin-bottom: rem-calc(68);}
    }
}


// Progress Bar
// ------

.bcchf_donate .bcchf_progress {
    > div {width: 25% !important; background-color: $light-gray;}

    .bcchf_progress_check {width: rem-calc(45) !important; height: rem-calc(45) !important; background-color: $light-gray !important; border: #{rem-calc(5)} solid $light-gray !important;}

    &.bcchf_progress_step1 {
        > div:first-child {background-color: $primary-color !important;
            .bcchf_progress_check {background-color: $white !important; border-color: $primary-color !important;}
        }
    }
    &.bcchf_progress_step2 {
        > div:first-child {background-color: $primary-color !important;
            .bcchf_progress_check {background-color: darken($primary-color,8%) !important; border-color: darken($primary-color,8%) !important;}
        }
        > div:nth-child(2) {background-color: $primary-color !important;
            .bcchf_progress_check {background-color: $white !important; border-color: $primary-color !important;}
        }
    }
    &.bcchf_progress_step3 {
        > div:first-child,
        > div:nth-child(2) {background-color: $primary-color !important;
            .bcchf_progress_check {background-color: darken($primary-color,8%) !important; border-color: darken($primary-color,8%) !important;}
        }
        > div:nth-child(3) {background-color: $primary-color !important;
            .bcchf_progress_check {background-color: $white !important; border-color: $primary-color !important;}
        }
    }
    &.bcchf_progress_step4 {
        > div:first-child,
        > div:nth-child(2),
        > div:nth-child(3) {background-color: $primary-color !important;
            .bcchf_progress_check {background-color: darken($primary-color,8%) !important; border-color: darken($primary-color,8%) !important;}
        }
        > div:last-child {background-color: $primary-color !important;
            .bcchf_progress_check {background-color: $white !important; border-color: $primary-color !important;}
        }
    }
}



// Steps
// ------

.bcchf_step {
    section:last-child {padding-bottom: 0;}
}

.js_bcchf_donation_honour {margin-top: rem-calc(30);}

.bcchf_payment_cta_monthly {margin: rem-calc(16 0 32);}

.bcchf_message p {margin-bottom: 0;}

.js_bcchf_donor_corporate {font-size: rem-calc(16);}



// Final Step
// ------

.bcchf_step_final {

    h3 + .bcchf_message {font-size: rem-calc(20); padding-bottom: 0 !important;
        + p {font-weight: $global-weight-bold; padding-bottom: rem-calc(40) !important;
            + section {padding-bottom: 0 !important;
                > div {padding-bottom: 50px;}
            }
        }
    }

    h4 {margin: 0;}

    .js_bcchf_review {list-style: none; margin: rem-calc(0 0 10);
        li {padding-bottom: 0;}
    }

    section:last-of-type {padding-bottom: 0 !important;
        > div {padding-bottom: 40px;}
    }

    section button {
        @include button(false, $primary-color, darken($primary-color,8%), $white, solid);
        font-weight: 700; padding: 0.85em 2.25em; border-width: rem-calc(3);
        &:hover {background-color: transparent; border-color: $primary-color; color: $primary-color;}
    }
}



// Thank you page
// ------


.bcchf_thankyou {
    @include breakpoint(medium) {
        h1 {font-size: rem-calc(45);}
    }
}

#thanks-top {

    .columns:first-child {
        @include breakpoint(medium) {border-right: 2px dotted $primary-color;}
        @include breakpoint(small down) {border-bottom: 2px dotted $primary-color; padding-bottom: rem-calc(20); margin-bottom: rem-calc(20);}
    }

    .bcchf_thanks {font-weight: $global-weight-bold;}

    h5 {text-align: center; text-transform: uppercase; color: $primary-color;}

    dl {text-align: center; margin-bottom: 0;
        dt {margin-bottom: 0;}
        dd {margin-bottom: rem-calc(15); font-size: rem-calc(16);
            &:last-child {margin-bottom: 0;}
        }
    }
}

#thanks-step2 {}
    
    .snowball-throw-styles {
        a {display: block; margin-top: rem-calc(15); text-align: center;
            .preview {position: relative; height: 0; padding-bottom: calc(100% - #{rem-calc(6)}); background: #f6f7fa no-repeat center/cover; border: 3px solid $white;
                video {visibility: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
            }
            .indicator {width: rem-calc(32); height: rem-calc(32); margin: 0 auto; border: 2px solid $primary-color; border-radius: 50%;
                span {display: block; width: rem-calc(16); height: rem-calc(16); margin: rem-calc(6); border-radius: 50%;}
            }
            h6 {font-size: rem-calc(18); margin: rem-calc(15 0);}
            &:hover {color: $primary-color;
                .preview {border-color: $primary-color;}
            }
            &.selected {
                .preview {border-color: $primary-color;
                    video {visibility: visible;}
                }
                .indicator span {background-color: $primary-color;}
            }

            @include breakpoint(small down) {margin-bottom: rem-calc(20);}
        }
    }

    #the-corkscrew {
        .preview {background-image: url(../images/snowtheme/snowball-preview-1-thumb.jpg);}
    }
    #the-triple-whammy {
        .preview {background-image: url(../images/snowtheme/snowball-preview-2-thumb.jpg);}
    }
    #the-just-chuck-it {
        .preview {background-image: url(../images/snowtheme/snowball-preview-3-thumb.jpg);}
    }


#thanks-step3 {
    p {font-weight: 500;}
}

    #facebook-share {
        @include button(false, $secondary-color, darken($secondary-color,10%), $white, solid);
        transition: none; display: block; margin: #{rem-calc(15)} auto #{rem-calc(30)}; font-weight: 500; padding: 0.45em 1em 0.3em .85em; border-radius: rem-calc(10); line-height: rem-calc(50); font-size: rem-calc(38); border-width: rem-calc(3);

        svg {vertical-align: middle; position: relative; top: rem-calc(-4); margin-right: .6em;}

        &:hover {background-color: transparent; border-color: $secondary-color; color: $secondary-color;
            svg * {fill: $secondary-color;}
        }

        @include breakpoint(small down) {display: block; width: 100%;}
    }




// Footer
// -------------------------------------------------------------------------------------------------------------------


#footer {
    form {margin: 0;}
    legend {margin: 0;}
    input[type=text], textarea {background-color: $light-gray;}
    input[type=submit] {box-sizing: border-box;}

    .site-content + & {height: auto;
        #footer-content {max-width: calc(100% - #{rem-calc(20)});

            #footer-columns {width: 100%;}

        }

        @include breakpoint(medium) {
            #footer-content {max-width: calc(100% - #{rem-calc(40)});}
        }
        
        @include breakpoint(750 down) {padding: rem-calc(15 0); 
            #footer-content {height: auto;

                h3 {margin-top: rem-calc(10);}

                #footer-columns {
                    li {width: 100%; float: none;}
                }

                .bcchf-footer-fc-last {position: relative; left: 0; width: 100%; max-width: rem-calc(300); margin-top: rem-calc(10);}
                .bcchf-newsletter-footer {box-sizing: border-box; width: 100%; max-width: rem-calc(300);}

                #footer-bottom {position: relative; left: 0; top: 0; margin-top: rem-calc(10); width: 100%;
                    > li {float: none;}
                }
                #footer-bottom-list {margin: rem-calc(10 -10);}
            }
        }
    }
}

